.card {
    margin-bottom: 3.5rem;
  
    @media (min-width: 1200px) {
      width: 16rem !important;
    }
  }
  
  .card-body {
    .card-title {
      font-family: $font-primary;
      color: $color-text-nav;
    }
  
    p.card-text {
      margin-bottom: 2rem;
    }
  
    .btn.btn-primary {
      width: 100%;
      color: $color-background-secondary;
      background-color: $color-text-heading;
      position: relative;
      border: none;
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
    }
  
    .btn.btn-primary::before {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 1.5rem;
      height: 100%;
      background-color: $color-text-primary;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }