.form-contact {
    background-color: $color-background-primary;
    margin-bottom: 10rem;
  
    @media (min-width: $medium-width) {
      padding: 1.5rem;
      margin-bottom: 4rem;
    }
  
    .btn.btn-primary {
      color: $color-background-secondary;
      font-weight: 700;
      background-color: $color-text-primary;
      font-size: 22px;
      width: 100%;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
  
  span.input-group-text {
    background-color: $color-tertiary;
    color: $color-background-secondary;
    font-size: 17px;
  }