html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: $color-background-body;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper {
  flex: 1 0 auto;
}

.container {
  width: 90%;
  margin: 0 auto;
}